@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-slate-900 antialiased;
  }
}

@layer utilities {
  .text-gold-gradient {
    background: linear-gradient(135deg, #D4AF37, #B09428);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
